@model Nop.Plugin.Zimaltec.CustomPages.Areas.Admin.Models.ZiPage.ZiPageModel
@{
    var layout = "_AdminLayout";
    if (ViewBag.isPopup == true) { layout = "_AdminPopupLayout"; }
    Layout = layout;

    NopHtml.SetActiveMenuItemSystemName(D.AdminMenu.MANAGE_PAGES);
}

<form method="post" id="zipage-form">
    <nop-antiforgery-token/>

    @if (ViewBag.isPopup == true)
    {
        <input type="hidden" name="isPopup" id="isPopup" value="@ViewBag.isPopup.ToString()"/>
    }

    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Common.AddNew")
            @if (ViewBag.isPopup != true)
            {
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a asp-action="List">@T(D.Localization.Admin.Pages.BACK_TO_LIST)</a>
                </small>
            }
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary save-settings-button">
                <i class="far fa-save"></i> @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary save-settings-button">
                <i class="far fa-save"></i> @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @{ await Html.RenderPartialAsync(D.Views.CREATE_OR_UPDATE_VIEW, Model); }

    @* Si usas popups en el futuro, refresca grids del opener (igual que Attachments) *@
    @if (ViewBag.isPopup == true)
    {
        <script>
            $(window).on("unload", function () {
                try { $(window.opener.document.getElementById("btnRefreshGrid")).click(); } catch(e) {}
            });
        </script>
    }
</form>